main>.container {
    padding: 60px 15px 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    margin-top: auto;
}