{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
    Car - {{ object.title }}
{% endblock title %}

{% block main %}
    <h2>{{ object.title }}</h2>

    {% if picture %}
        <div class="rounded mx-auto d-block">
            {% thumbnail picture "800x600" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail mr-3">
            {% endthumbnail %}
        </div>
    {% endif %}

    <ul>
        <li>Description: {{ object.description }}</li>
        <li>Category: {{ object.category }}</li>
        <li>Price: ${{ object.price }}</li>
        <li>Seller: {{ object.seller.username }}</li>
        <li>Weight: {{ object.weight }} kg</li>
        <li>Color: {{ object.color }}</li>
        <li>Condition: {{ object.condition }}</li>
        <li>Mileage: {{ object.mileage }} km</li>
    </ul>
    <a class="btn btn-primary" href="{{ request.path|add:'/edit/' }}">Edit Listing</a>
{% endblock main %}