{% extends "base.html" %}

{% block main %}
    
    <h2>Items</h2>
    
    <ul class="list-group list-group-flush my-3">
        {% for item in page_obj %}
            <div class="list-group-item d-flex justify-content-between align-items-start">

                <div class="ms-2 me-auto">
                    <a class="list-group-item-action" href="{% url 'item_detail' item.id %}">
                        {{ item.title }}
                    </a>
                </div>
                
                {% for tag in item.tags.all %}
                    <span class="badge bg-primary rounded-pill">
                        <a class="text-light" href="?tag={{ tag.title }}">
                            {{ tag.title }}
                        </a>
                    </span>
                {% endfor %}

            </div>
        {% endfor %}
    </ul>

    {% include 'main\listview_paginator.html' %}

{% endblock main %}