{% load flatpages %}
{% get_flatpages as flatpages %}

<footer class="p-4 bg-light position-fixed fixed-bottom">
    <div class="container" style="color: black;">
        <div class="row">
            {% for page in flatpages %}

            <div class="col-md text-center">
                <a class="text-decoration-none link-dark" href="{{ page.url }}">
                    <h6>
                        {{ page.title }}
                    </h6>
                </a>
            </div>

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md mt-1 text-center">
                All rights reserved &copy; {% now 'Y' %}
            </div>
        </div>
    </div>

</footer>