{% extends 'base.html' %}

{% load socialaccount %}

{% load main_tags %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <p>Welcome, You are logged in as {{ user.username }}</p>
            {% else %}
                <a href="{% provider_login_url 'google' %}">Login With Google</a>
            {% endif %}
        </div>

        <div class="row">
            {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
            <p>Server time is {{ the_time }}.</p>
        </div>

        <div class="row">
            {% include "subscribe.html" %}
        </div>

    </div>

{% endblock main %}