{% load main_tags %}

{% load thumbnail %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand" href="{% url 'index' %}">ECOM</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/items/' %}" href="{% url 'items_list' %}">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/cars/' %}" href="{% url 'cars_list' %}">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/services/' %}" href="{% url 'services_list' %}">Services</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div class="row justify-content-start">
                <div class="col">
                  {% seller_from_user as seller %}
                  {% thumbnail seller.avatar "30x30" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </div>
                <div class="col">
                  <a class="nav-link {% activate_navlink '/accounts/' %}" href="{% url 'seller_update' %}">{{ user.username }}</a>
                </div>
              </div>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>
</nav>