{% load main_tags %}

{% load thumbnail %}

{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand" href="{% url 'index' %}">ECOM</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/items/' %}" href="{% url 'items_list' %}">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/cars/' %}" href="{% url 'cars_list' %}">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% activate_navlink '/services/' %}" href="{% url 'services_list' %}">Services</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% seller_from_user as seller %}
          {% if seller %}
            <li class="nav-item avatar">
              <a class="nav-link {% activate_navlink '/accounts/' %}" href="{% url 'seller_update' %}">
                {% thumbnail seller.avatar "30x30" crop="center" as im %}
                  <img class="rounded-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {{ seller.username }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
  
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>
</nav>